<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<header th:fragment="header" >
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Main</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="hasAuthority('USER')" th:href="@{/portfolio}" href="#">Portfolio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="hasAuthority('USER')" th:href="@{/orders}" href="#">Orders <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="hasAuthority('USER')" th:href="@{/cards}" href="#">Cards <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="hasAuthority('USER')" th:href="@{/balanceUpdates}" href="#">Balance Updates<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="hasAuthority('USER')" th:href="@{/subscriptions}" href="#">Subscriptions <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" sec:authorize="hasAuthority('USER')" th:href="@{/alerts}" href="#">Alerts
                            <svg th:if="${session.notificate == true}" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                            </svg>
                        </a>
                </li>
            </ul>
            <span sec:authorize="hasAuthority('USER')" style="color:white;margin-right:1.25em;" class="navbar-text pull-right" th:text="${session?.email}">&nbsp;
            </span>
            <span sec:authorize="hasAuthority('USER')" style="color:white;margin-right:2.25em;" class="navbar-text pull-right" th:text="${'Balance: ' + #numbers.formatDecimal(session?.balance, 0, 2, 'POINT')}">&nbsp;
            </span>
            <a href="#" sec:authorize="isAuthenticated()" th:href="@{/logout}" class="navbar-brand pull-right"><strong>Logout</strong></a>
            <a href="#" sec:authorize="isAnonymous()" th:href="@{/login}" class="navbar-brand pull-right"><strong>Login</strong></a>
            <a href="#" sec:authorize="isAnonymous()" th:href="@{/registration}" class="navbar-brand pull-right"><strong>Registration</strong></a>
        </div>
    </nav>

    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${error!=null}">
        <strong>Error</strong> <font th:text="${error}"></font>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${notification!=null}">
        <font th:text="${notification}"></font>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</header>

</body>
</html>
