<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

</head>
<body>
<div>
    <header th:insert="/paymentForm.html :: header"></header>
</div>
<br>
<form th:action="@{/}" method="get" novalidate>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="search-result-box card-box">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <div class="pt-3 pb-4">
                                <div class="input-group">
                                    <input type="text" th:id="symbol" th:name="symbol" th:value="${symbol}" id="symbol"
                                           name="" class="form-control" value="">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-primary btn-sm"><i
                                                class="fa fa-search mr-1"></i> Search
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<br>
<div class="card-columns" style="column-count: 3;">
    <div class="card" th:each="stock : ${stocks}">
        <div class="card-body">
            <h1 class="card-title" align="center" th:text="${stock.getSymbol}"></h1>
            <p class="card-text"><font th:text="${stock.getName}"></font></p>
            <p class="card-text">
                <span th:if="${stock.type == T(com.epam.rd.stock.exchange.model.enums.StockType).STOCK}">Stock</span>
                <span th:if="${stock.type == T(com.epam.rd.stock.exchange.model.enums.StockType).INDEX}">Stock index</span>
            <p class="card-text">Current price: <font th:text="${stock.getPrice}"></font> $ </p>
            <p class="card-text">Trend : <font th:text="${stock.getTrend}"></font>
                <span class="badge badge-pill badge-success" th:if="${stock.getTrend()>0}">Gain</span>
                <span class="badge badge-pill badge-secondary" th:if="${stock.getTrend()==0}">Same</span>
                <span class="badge badge-pill badge-danger" th:if="${stock.getTrend()<0}">Loss</span>
            <div sec:authorize="hasAuthority('USER')">
                <a class="btn btn-primary" th:href="@{/order(stockId=${stock.getId})}" role="button">Make an order</a>
            </div>
            </p>
        </div>
    </div>
</div>
<br>
<div th:if="${totalPages > 1}">
    <div class="row col-sm-10">
        <div class="col-sm-2">
            Total Rows: [[${totalItems}]]
        </div>
        <div class="col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/?symbol=' + ${symbol} + '&pageNumber=' + ${i}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
        </div>
    </div>
</div>
</body>
</html>