<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

</head>
<body>
<div>
    <header th:insert="/header.html :: header"></header>
</div>
<br>
<div class='wrapper text-center'>
    <div class="btn-group">
        <a href="#" th:href="@{'/orders'}" class="btn btn-primary btn-sm" aria-current="page">All</a>
        <a href="#" th:href="@{'/orders?status=SUCCESS'}" class="btn btn-primary btn-sm">Success</a>
        <a href="#" th:href="@{'/orders?status=FAIL'}" class="btn btn-primary btn-sm">Failure</a>
    </div>
</div>
<br>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Stock</th>
        <th scope="col">Amount</th>
        <th scope="col">Expected order price</th>
        <th th:if="${status == T(com.epam.rd.stock.exchange.model.enums.OrderStatus).SUCCESS}" scope="col">Valuable Price</th>
        <th scope="col">Status</th>
        <th scope="col">Time submitted</th>
        <th scope="col">Type</th>
        <th th:if="${status == T(com.epam.rd.stock.exchange.model.enums.OrderStatus).FAIL}" scope="col">Fail description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.valuable.getSymbol()}"></td>
        <td th:text="${order.amount}"></td>
        <td th:text="${#numbers.formatDecimal(order.orderPrice, 0, 2, 'POINT')}"></td>
        <td th:if="${status == T(com.epam.rd.stock.exchange.model.enums.OrderStatus).SUCCESS}" th:text="${order.valuable.price}"></td>
        <td th:text="${order.status}"></td>
        <td th:text="${#temporals.format(order.dateTime, 'dd-MM-yyyy HH:mm:ss')}"></td>
        <td th:text="${order.type}"></td>
        <td th:if="${status == T(com.epam.rd.stock.exchange.model.enums.OrderStatus).FAIL}" th:text="${order.failDescription}"></td>
    </tr>
    </tbody>
</table>
<br>
<div th:if = "${totalPages > 1}">
    <div class = "row col-sm-10">
        <div class = "col-sm-2">
            Total Rows: [[${totalItems}]]
        </div>
        <div class = "col-sm-1">
          <span th:each="i: ${#numbers.sequence(1, totalPages)}">
            <a th:if="${currentPage != i}" th:href="@{'/orders?status=' + ${#objects.nullSafe(status, '')} + '&pageNumber=' + ${i}}">[[${i}]]</a>
            <span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
          </span>
        </div>
    </div>
</div>
</body>
</html>